# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# general
.dependencies

# compiled binaries
src-reelvdr/utils/reelbox-control/reelbox-ctrld
src-reelvdr/utils/reelfpctl/reelfpctl
src-reelvdr/utils/reelfpctl/reelfpctl1
src-reelvdr/utils/hdshm3/x86/hdboot/hdboot
src-reelvdr/utils/hdshm3/x86/hdctrld/hdctrld
src-reelvdr/utils/hdshm3/x86/hdfbctl/hdfbctl
src-reelvdr/utils/hdshm3/x86/shmnetd/shmnetd
src-reelvdr/utils/hdshm3/x86/hdtsplay/hdtsplay
src-reelvdr/utils/ppmtofb/ppmtofb

# uncompressed images
bin-reelvdr/eHD/*.bin
bin-reelvdr/eHD/hdplayer-ReelBox-20210215
bin-reelvdr/eHD/hdplayer-ua0lnjehd-20170522
