# reel Xorg splash

[Unit]
Description=ReelBox Xorg Splash Progress 3

ConditionFileIsExecutable=/usr/bin/xv
ConditionPathExists=/opt/reel/share/reel/ReelBoxNG.png

Requires=reel-Xorg-splash-progress-2.service reel-progress-3.service

After=reel-Xorg-splash-progress-2.service reel-progress-3.service


[Service]
SyslogIdentifier=ReelBoxNG-Progress-Xorg-Splash-3

Type=simple

ExecStart=/usr/bin/xv -display :0 -viewonly -fixed -geo 100x100+400+600 /opt/reel/share/reel/ReelBoxNG.png


[Install]
WantedBy=multi-user.target
