[Unit]
Description=ReelBoxNG Progress 0

ConditionFileIsExecutable=/usr/bin/sleep

Requires=reel-frontpanel.service

After=reel-frontpanel.service


[Service]
SyslogIdentifier=ReelBoxNG-Progress

Type=oneshot

RemainAfterExit=yes

ExecStart=/usr/bin/sleep 0.5

ExecStartPost=/usr/bin/sleep 0.5


[Install]
WantedBy=multi-user.target
