# reel Xorg splash

[Unit]
Description=ReelBox Xorg Splash Progress 5

ConditionFileIsExecutable=/usr/bin/xv
ConditionPathExists=/opt/reel/share/reel/ReelBoxNG.png

Requires=reel-Xorg-splash-progress-4.service reel-progress-5.service

After=reel-Xorg-splash-progress-4.service reel-progress-5.service


[Service]
SyslogIdentifier=ReelBoxNG-Progress-Xorg-Splash-5

Type=simple

ExecStart=/usr/bin/xv -display :0 -viewonly -fixed -geo 100x100+700+600 /opt/reel/share/reel/ReelBoxNG.png


[Install]
WantedBy=multi-user.target
