[Unit]
Description=ReelBoxNG eHD hdshm kernel module load

ConditionFileIsExecutable=/opt/reel/sbin/reelbox-control.sh
ConditionFileNotEmpty=/etc/sysconfig/reel

Before=vdr.service


[Service]
SyslogIdentifier=ReelBoxNG-eHD-hdshm-kernel-module

EnvironmentFile=/etc/sysconfig/reel

Type=oneshot
RemainAfterExit=yes

ExecStart=/opt/reel/sbin/reelbox-control.sh setup_ehd_kernel


[Install]
WantedBy=multi-user.target
