[Unit]
Description=ReelBoxNG Progress 5

ConditionFileIsExecutable=/usr/bin/sleep

Requires=reel-progress-4.service

After=reel-progress-4.service reel-ehd-boot.service


[Service]
SyslogIdentifier=ReelBoxNG-Progress

Type=oneshot

RemainAfterExit=yes

ExecStart=/usr/bin/sleep 0.5

ExecStartPost=/usr/bin/sleep 0.5


[Install]
WantedBy=multi-user.target
