[Unit]
Description=ReelBoxNG Progress 2

ConditionFileIsExecutable=/usr/bin/sleep

Requires=reel-progress-1.service

After=reel-progress-1.service reel-vdr-mcli-preparation.service


[Service]
SyslogIdentifier=ReelBoxNG-Progress

Type=oneshot

RemainAfterExit=yes

ExecStart=/usr/bin/sleep 0.5

ExecStartPost=/usr/bin/sleep 0.5


[Install]
WantedBy=multi-user.target
