#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id: Make.config.template 1.4 2005/05/14 10:32:33 kls Exp $

#uncomment this if you are compiling for RB Lite - not needed if u use makeall.sh for building!
#RBLITE=1

#uncomment this if you are compiling for RB Mini/NetClient
#RBMINI=1

##reelbox-ng
#64-bit version
ifeq ($(shell uname -m), x86_64)
	REELVDR64=1
endif

# on Red Hat / Fedora
ifeq ($(shell test -e /etc/redhat-release && echo 0 || echo 1), 0)
	REDHAT_FEDORA=1
endif

#always use this for ReelBox
REELVDR=1

#don't commit this - just for internal use
#DEBUG = 1

#default vdr directory version
VDRVER ?= 1.7.28

### The C compiler and options:
CCACHE := $(shell which ccache)

# DISTCC = distcc
MAKE  += -j3

LSB_RELEASE := $(shell lsb_release -sr)


ifdef RBMINI
	CROSS   = arm-linux-gnueabi-
	MACHINE = -mcpu=arm1176jz-s
	HOST    = arm9
	ARCH    = arm
else ifdef RBLITE
	MACHINE = -m32 -march=pentium-mmx -mmmx
	# gcc-3.3 has fomit-frame-pointer bug
	CXXFLAGS = -g -O2 -funroll-loops $(MACHINE) -Wall -Woverloaded-virtual
	# gcc-4.x
	#CXXFLAGS ?= -g -O2 -funroll-loops -fomit-frame-pointer $(MACHINE) -Wall -Woverloaded-virtual
else ifdef REELVDR64
        MACHINE  ?= -m64 -march=k8
else
	#For RB AVG
	#MACHINE ?= -m32 -march=pentium4m -mmmx -msse2 -mfpmath=sse
	MACHINE  ?= -m32 -march=pentium3 -mmmx -msse -mfpmath=sse
endif

CC       = $(CCACHE) $(DISTCC) $(CROSS)gcc
CFLAGS   = -O2 -g -pg $(MACHINE)

CXX      = $(CCACHE) $(DISTCC) $(CROSS)g++
CXXFLAGS = -g -O2 -funroll-loops -fomit-frame-pointer $(MACHINE) -Wall -Woverloaded-virtual

ifdef RBMINI
	# used for backtrace
	CFLAGS   += -funwind-tables
	CXXFLAGS += -funwind-tables
endif

STRIP    = $(CROSS)strip

export CC CXX CFLAGS CXXFLAGS


### common defines

ifdef RBLITE
	DVBDIR   = ../kernel/linux-2.6.11.11
	DEFINES += -DGET_TS_PACKETS
	DEFINES += -DRBLITE

else ifdef RBMINI
	DVBDIR   = ../kernel/linux-2.6.18.5
	DEFINES += -DALWAYS_TS -DRBMINI
	DEFINES += -DRBMINI
	USEMYSQL = 1
	DEVICE_ATTRIBUTES = 1
		
else ifeq ($(shell lsb_release -sr), 13.10)
	CC  := $(CC)-4.8
	CXX := $(CXX)-4.8
	DEFINES += -DDVBAPI_V5
	DEFINES += -DNEW_FFMPEG
	DEFINES += -DNEWUBUNTU
	USEMYSQL = 1
	DEVICE_ATTRIBUTES = 1
	DVBDIR  ?:= /usr/src/linux-headers-3.11.0-13
	VDRVER  ?:= 1.7.27

else ifeq ($(shell lsb_release -sr), 12.10)
	CC  := $(CC)-4.7
	CXX := $(CXX)-4.7
	DEFINES += -DDVBAPI_V5
	DEFINES += -DNEW_FFMPEG
	DEFINES += -DNEWUBUNTU
	USEMYSQL = 1
	DEVICE_ATTRIBUTES = 1
	DVBDIR  := /usr/src/linux-headers-3.5.0-43
	VDRVER  := 1.7.28

else ifeq ($(shell lsb_release -sr), 10.04)
	CC  := $(CC)-4.4
	CXX := $(CXX)-4.4
	DEFINES += -DDVBAPI_V5
	DEFINES += -DNEW_FFMPEG
	DEFINES += -DRBDVB
	USEMYSQL = 1
	DEVICE_ATTRIBUTES = 1
	DVBDIR  := /root/media_build_experimental/linux/include/uapi/
	VDRVER  := 1.7.28

else ifeq ($(shell lsb_release -sr), 8.04)
	CC  := $(CC)-4.2
	CXX := $(CXX)-4.2
	USEMYSQL = 1
	DEVICE_ATTRIBUTES = 1
	DVBDIR   := ../kernel/linux-2.6.24
	VDRVER  := 1.4
else
	#original reelbox release based on ubuntu 7.10, default
	USEMYSQL = 1
	DEVICE_ATTRIBUTES = 1
	DVBDIR   := ../kernel/linux-2.6.22
endif


ifeq ($(VDRVER),1.7.28)
	USE_BOUQUETS=1
	USE_CRASHLOG=1
	USE_CUTTERLIMIT=1
	USE_CUTTIME = 1
	USE_DELAYED_TRICKMODE=1
	USE_JUMPPLAY=1
	USE_LIEMIEXT=1
	USE_MCLI=1
	USE_NOEPG=1
	USE_PINPLUGIN=1
	USE_PLUGINMISSING=1
	USE_SETUP=1
	USE_TINYXML=1
	USE_TTXTSUBS=1
	USE_YAEPG=1 
	USE_LIVEBUFFER=1
	USE_PROVIDERCHARSET=1
#	don´t check for cams in epgsearch
	CFLC=1
	EXCLUDE_PLUGINS= -e ipkg -e reelcam -e timeline -e vdrcd
	PREFIX=/usr
	LOCDIR=$(PREFIX)/share/locale
	ifdef RBMINI
	        DEFINES += -DRBDVB
		INCLUDES += -I/usr/arm-linux-gnueabi/include/freetype2 -I$(DVBDIR)/include
		LIBS     += -lfreetype -lfontconfig
		EXCLUDE_PLUGINS += -e burn -e graphlcd -e mediad -e netcvrotor -e osdpip -e vlcclient -e xinemediaplayer
        else
                INCLUDES += -I$(DVBDIR)
	endif
endif

ifdef DEBUG
	DEFINES += -DDEBUG
	CXXFLAGS += -g
endif

DEFINES += -DLEGACY_CRECEIVER

ifdef RBMINI
	EXCLUDE_PLUGINS += -e reelbox
else
	EXCLUDE_PLUGINS += -e rbmini
endif

ifdef REELVDR
	DEFINES  += -DREELVDR
endif

ifdef USEMYSQL
	DEFINES  += -DUSEMYSQL
endif

ifdef DEVICE_ATTRIBUTES
	DEFINES  += -DDEVICE_ATTRIBUTES
endif

ifdef USE_CRASHLOG
	DEFINES += -DUSE_CRASHLOG
endif

ifdef USE_ALTERNATECHANNEL 
	DEFINES += -DUSE_ALTERNATECHANNEL
endif

ifdef USE_CHANNELBIND
	DEFINES += -DUSE_CHANNELBIND
endif

ifdef USE_CHANNELPROVIDE
	DEFINES += -DUSE_CHANNELPROVIDE
endif

ifdef USE_CUTTERLIMIT
	DEFINES += -DUSE_CUTTERLIMIT
endif

ifdef USE_CUTTIME
	DEFINES += -DUSE_CUTTIME
endif

ifdef USE_DDEPGENTRY
	DEFINES += -DUSE_DDEPGENTRY
endif

ifdef USE_DVLSCRIPTADDON
	DEFINES += -DUSE_DVLSCRIPTADDON
endif

ifdef USE_DVLVIDPREFER
	DEFINES += -DUSE_DVLVIDPREFER
endif

ifdef USE_GRAPHTFT
	DEFINES += -DUSE_GRAPHTFT
endif

ifdef USE_HARDLINKCUTTER
	DEFINES += -DUSE_HARDLINKCUTTER
endif

ifdef USE_JUMPINGSECONDS
	DEFINES += -DUSE_JUMPINGSECONDS
endif

ifdef USE_JUMPPLAY
	DEFINES += -DUSE_JUMPPLAY
endif

ifdef USE_LIEMIEXT
	DEFINES += -DUSE_LIEMIEXT
endif

ifdef USE_LIRCSETTINGS
	DEFINES += -DUSE_LIRCSETTINGS
endif

ifdef USE_LNBSHARE
	DEFINES += -DUSE_LNBSHARE
endif

ifdef USE_MAINMENUHOOKS
	DEFINES += -DUSE_MAINMENUHOOKS
endif

ifdef USE_MCLI
	DEFINES += -DUSE_MCLI
endif

ifdef USE_MENUORG
	DEFINES += -DUSE_MENUORG
endif

ifdef USE_NOEPG
	DEFINES += -DUSE_NOEPG
endif

ifdef USE_PINPLUGIN
	DEFINES += -DUSE_PINPLUGIN
endif

ifdef USE_PLUGINMISSING
	DEFINES += -DUSE_PLUGINMISSING
endif

ifdef USE_ROTOR
	DEFINES += -DUSE_ROTOR
endif

ifdef USE_SETUP
	DEFINES += -DUSE_SETUP
endif

ifdef USE_TIMERINFO
	DEFINES += -DUSE_TIMERINFO
endif

ifdef USE_TTXTSUBS
	DEFINES += -DUSE_TTXTSUBS
endif

ifdef USE_VALIDINPUT
	DEFINES += -DUSE_VALIDINPUT
endif

ifdef USE_VOLCTRL
	DEFINES += -DUSE_VOLCTRL
endif

ifdef USE_WAREAGLEICON
	DEFINES += -DUSE_WAREAGLEICON
endif

ifdef USE_YAEPG
	DEFINES += -DUSE_YAEPG
endif

ifdef USE_BOUQUETS
	DEFINES += -DUSE_BOUQUETS
endif

ifdef USE_DELAYED_TRICKMODE
	DEFINES += -DUSE_DELAYED_TRICKMODE
endif

ifdef USE_LIVEBUFFER
	DEFINES += -DUSE_LIVEBUFFER
endif

ifdef USE_PROVIDERCHARSET
        DEFINES += -DUSE_PROVIDERCHARSET=$(USE_PROVIDERCHARSET)
endif

### The directory environment:

MANDIR   = /usr/man
BINDIR   = /usr/sbin
SBINDIR  = /usr/sbin

#only used by plugins
VDRDIR        = ../../../vdr-$(VDRVER)
PLUGINDIR     = ../vdr-plugins
PLUGINLIBDIR  = /usr/lib/vdr

VIDEODIR       = /media/reel/recordings
CONFIGDIR      = /etc/vdr
SYSCONFIGFNAME = /etc/default/sysconfig

WITHOUT_MPLAYER=1
REMOTE=LIRC

# for DVD resume
RESUMEDIR=/tmp

# defines for burn-pi
REPLEX_ONLY = 1
BURN_USE_ISHD = 1
#USE_PATCHFONT = 1

# for mcli pi
MCLI_SHARED=1

# for vdr itself
ifdef REELVDR
	# for modified TT card (4MB) and ReelBox
	MAXOSDMEMORY=1000000
else
	# for normal TT card (2MB)
	MAXOSDMEMORY=92000
endif

#BSPSHM = ../../../bspshm


ifdef RBLITE
	LIRC_DEVICE = /tmp/lircd
	FP_DEVICE   = /dev/ttyS1
        FONTPATH    = "/usr/share/graphlcd/fonts/verdanab-009.fnt"
	LIBCDIO    ?= ../../../../temp/docimage/libs/libcdio
	LIBMAD     ?= ../../../../temp/docimage/libs/libmad
	LIBASOUND  ?= ../../../../temp/docimage/libs/alsa-lib
	LIBDVDNAV  ?= ../../../../temp/docimage/libs/libdvdnav
	LIBGLCD    ?= ../../../../temp/libs/graphlcd-base
else
	LIRC_DEVICE       = /dev/lircd
	FP_DEVICE         = /dev/frontpanel
	USER_INPUT_DEVICE = /dev/input/uinput
	FONTPATH          = "/etc/vdr/plugins/graphlcd/fonts/verdanab-009.fnt"
endif

ifdef REDHAT_FEDORA
        FONTPATH    = "/usr/share/vdr/plugins/graphlcd/fonts/verdanab-009.fnt"
	#at least graphlcd-devel>=1.0.2
	GRAPHLCD_NEW=1
endif

export FP_DEVICE LIRC_DEVICE FONTPATH

